/* Custom Stylesheet */      
.container {
  margin-top: 50px;
}
.navbar {
  background: rgb(10, 193, 142) !important;
}
a.nav-link {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin-right: 4px;
}
li#price {
  position: absolute;
  right: 15px;
}
.about {
  margin: 75px 75px 0px 45px;
  background: rgba(233, 78, 85, 1);
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: consolas;
  box-shadow: 6px 6px 0px #614ad3, 12px 12px 0px #0ac18e;
  border-radius: 1px;
}

.modal-body img {
  width: 300px;
}
